<h4>Guarded Component Two</h4>
  <p>Try navigating away (back to component one). It will be blocked unless "Can deactivate" checkbox is checked.</p>
  <div>
    Can deactivate:
    <input #candeactivate type="checkbox" (change)="checkboxChanged(candeactivate.checked)" />
  </div>  <nav>
  <a [routerLink]="['component-one']">Component One</a>&nbsp;&nbsp;
  <a [routerLink]="['component-two']">Guarded Component Two</a>&nbsp;&nbsp;
  <a [routerLink]="['component-three']">Component Three</a>
</nav>

<div style="margin-top: 1rem;">
  Can activate:
  <input #canactivate type="checkbox" (change)="checkboxChanged(canactivate.checked)" />
</div>

<div style="color: green; margin-top: 1rem;">Outlet:</div>
<div style="border: 2px solid green; padding: 1rem;">
  <router-outlet></router-outlet>
</div>

<p>
  Try navigating to component two. It is prevented until checkbox is checked.
</p>


